*{
    font-family: 'Roboto', sans-serif;	
    font-size: 1.1rem;
  }
  
form {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    background: #f4f4f4;
}
input[type="submit"] {
    background: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="text"] {
    width: 100%;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

a{
    padding: 10px;
    display: inline-block;
    color: #333;
    text-decoration: none;
}

form a:hover {
    color: purple;
    transform: scale(1.1);
}

a {
    display: block;
    text-align: center;
}
a:hover {
    color: red;
    transform: scale(1.1);
}

  
#as_nlo{
    display: inline;
    width: 4rem;
}
#as_nhi{
    display: inline;
    width: 4rem;
}
.hide{
    display: none;
}
  